<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1643913923.3733411</real>
	<key>UUID</key>
	<string>1BB40A42-B3CA-4290-BF63-CCD2D409B5ED</string>
</dict>
</plist>
