<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1643993249.2706971</real>
	<key>UUID</key>
	<string>46364393-87BE-4BCD-AFF0-098B920226B9</string>
</dict>
</plist>
