<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1613861026.7064559</real>
	<key>UUID</key>
	<string>6EB761D1-9C94-4FBD-839B-17B98C0F3B3F</string>
</dict>
</plist>
