<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Résistance moteur [\Omega]
Puissance dissipée [W]
La résistance moteur égale\n à celle de la source

Résistance relative moteur [R_m/R_s]
Fraction puissance dissipée
La résistance moteur égale\n à celle de la source
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
