<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1643826560.372673</real>
	<key>UUID</key>
	<string>91A23FA9-7F99-4DC7-BC94-52FBCDE67E77</string>
</dict>
</plist>
